.cards
    display flex
    justify-content center
    flex-wrap wrap
    margin-left -15px
    margin-right -15px

.card
    width 50%
    padding 0 15px

    @media (min-width: 768px)
        width calc(100% / 3)