{
  "root": true,
  "extends": ["eslint:recommended", "plugin:react/recommended", "standard", "standard-react"],
  "plugins": [
    "react",
    "html",
    "json"
  ],
  "settings": {
    "html/indent": "0",
    "es6": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "React": true,
    "shallow": true,
    "mount": true,
    "context": true,
    "expect": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": false,
    "ecmaVersion": 6
  },
  "rules": {
    "padded-blocks": ["off"],
    "space-before-function-paren": ["error", "never"],
    "jsx-quotes": ["warn", "prefer-single"],
    "no-console": "warn",
    "prefer-const": ["error", {
      "destructuring": "any"
    }],
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "react/jsx-no-literals": 1,
    "react/jsx-indent": "warn",
    "no-debugger": "warn",
    "react/jsx-closing-bracket-location": "error",
    "react/prop-types": 0,
    "import/first": 0,
    "standard/no-callback-literal": 0,
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
    "no-mixed-operators": 0,
    "no-var": "error",
    "no-restricted-globals": ["error",
      "addEventListener",
      "blur",
      "close",
      "closed",
      "confirm",
      "defaultStatus",
      "defaultstatus",
      "event",
      "external",
      "find",
      "focus",
      "frameElement",
      "frames",
      "history",
      "innerHeight",
      "innerWidth",
      "length",
      "location",
      "locationbar",
      "menubar",
      "moveBy",
      "moveTo",
      "name",
      "onblur",
      "onerror",
      "onfocus",
      "onload",
      "onresize",
      "onunload",
      "open",
      "opener",
      "opera",
      "outerHeight",
      "outerWidth",
      "pageXOffset",
      "pageYOffset",
      "parent",
      "print",
      "removeEventListener",
      "resizeBy",
      "resizeTo",
      "screen",
      "screenLeft",
      "screenTop",
      "screenX",
      "screenY",
      "scroll",
      "scrollbars",
      "scrollBy",
      "scrollTo",
      "scrollX",
      "scrollY",
      "self",
      "status",
      "statusbar",
      "stop",
      "toolbar",
      "top"
    ]
  }
}
