:root {

    // colors
    --color1: #00A388
    --color2: #79BD8F
    --color3: #BEEB9F
    --color4: #FFFF9D
    --accent: #FF6138
    --black: #001713
    --white: #f9f7f7

    --border: var(--black)
}