@import './_default.css'
@import './_variables'

@font-face
    font-family 'Jaapokkisubtract'
    src url('./../fonts/jaapokkisubtract-regular.woff') format('woff'), 
        url('./../fonts/jaapokkisubtract-regular.ttf') format('truetype')
    font-weight  normal
    font-style normal

body
    font-family 'Jaapokkisubtract', sans-serif
    font-size 16px
    line-height 1.4
    color #fff

.wrap
    width 100%
    max-width 800px
    margin-left auto
    margin-right auto
    border 1px solid red