@import '../../assets/styles/_variables'

.header
    height 60px
    border-bottom 1px solid var(--app-border)
    
    h2
        font-family 'Jaapokkisubtract', sans-serif
        text-align center
        font-size 30px
        color #002255

        @media (min-width: 768px)
            font-size 50px

.menu
    display flex
    justify-content center
    align-items center

.menu-item
    margin 0 20px    